<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559426702570-bkm41iivlbjkotcca8k4tmgbdo4rtcvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559426702570-bkm41iivlbjkotcca8k4tmgbdo4rtcvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559426702570-mdt19fh79ffbgn1dkpi408a398n1ff4d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXNeAjuRmsFhex1oGlmkKgeuzkjD4brUg</string>
	<key>GCM_SENDER_ID</key>
	<string>559426702570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.racooney.bitcoincostaverage</string>
	<key>PROJECT_ID</key>
	<string>bitcoin-costaverage</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcoin-costaverage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559426702570:ios:6cbfe840d8a450d3c35b93</string>
</dict>
</plist>